In [1]:
#start of pre-lecture work 
# question number 1
import pandas as pd
# Load the dataset
url = "https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv"
df = pd.read_csv(url)
df.isna().sum()

Survived                   0
Pclass                     0
Name                       0
Sex                        0
Age                        0
Siblings/Spouses Aboard    0
Parents/Children Aboard    0
Fare                       0
dtype: int64

In [2]:
# question number 2.1
# Assuming Titanic dataset
print(df.columns)
# Output: 
# Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'Siblings/Spouses Aboard',
#        'Parents/Children Aboard', 'Fare'],
#       dtype='object')
print(df.shape)
# Output: (887, 8)

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'Siblings/Spouses Aboard',
       'Parents/Children Aboard', 'Fare'],
      dtype='object')
(887, 8)

question number 2.2
observations: is a individul data point in a set, it is a single point in a variable 
varibles: are the elements which reaserchers messure, they can be quantative or qualitative

In [3]:
# question number 3 
import pandas as pd
# Load the dataset
url = "https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv"
df = pd.read_csv(url)
# Display the first few rows of the dataset to understand its structure
df.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [4]:
# question number 3 
# Get summary statistics for numerical columns
summary_statistics = df.describe()
# Display the summary statistics
print(summary_statistics)

         Survived      Pclass         Age  Siblings/Spouses Aboard  \
count  887.000000  887.000000  887.000000               887.000000
mean     0.385569    2.305524   29.471443                 0.525366
std      0.487004    0.836662   14.121908                 1.104669
min      0.000000    1.000000    0.420000                 0.000000
25%      0.000000    2.000000   20.250000                 0.000000
50%      0.000000    3.000000   28.000000                 0.000000
75%      1.000000    3.000000   38.000000                 1.000000
max      1.000000    3.000000   80.000000                 8.000000

       Parents/Children Aboard       Fare
count               887.000000  887.00000
mean                  0.383315   32.30542
std                   0.807466   49.78204
min                   0.000000    0.00000
25%                   0.000000    7.92500
50%                   0.000000   14.45420
75%                   0.000000   31.13750
max                   6.000000  512.32920

In [5]:
# question number 3 
# Get value counts for the 'Pclass' column (Passenger Class)
pclass_counts = df['Pclass'].value_counts()
print("Pclass value counts:")
print(pclass_counts)

Pclass value counts:
Pclass
3    487
1    216
2    184
Name: count, dtype: int64

In [6]:
# question number 3 
sex_counts = df['Sex'].value_counts()
print("\nSex value counts:")
print(sex_counts)

Sex value counts:
Sex
male      573
female    314
Name: count, dtype: int64

In [7]:
# question number 3 
# i started having syntax errors with what chat told me to code so I checked if I had any missing data
import pandas as pd
# Load the Titanic dataset from the URL
url = "https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv"
data = pd.read_csv(url)
# Display the column names
print(data.columns)
# Get the count of missing values for each column
missing_data_counts = data.isnull().sum()
# Display the missing data counts
print(missing_data_counts)

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'Siblings/Spouses Aboard',
       'Parents/Children Aboard', 'Fare'],
      dtype='object')
Survived                   0
Pclass                     0
Name                       0
Sex                        0
Age                        0
Siblings/Spouses Aboard    0
Parents/Children Aboard    0
Fare                       0
dtype: int64

In [8]:
# question number 3 
# had a problem when chat gpt told me to print(embarked) however that is not availible data in my data set,
# so chat told me to check what collums I have and i figured out that "embarked" is not a category
# Check column names in the DataFrame
print(df.columns)

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'Siblings/Spouses Aboard',
       'Parents/Children Aboard', 'Fare'],
      dtype='object')

In [9]:
# final solution to question number 3
import pandas as pd
# Load the dataset
url = "https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv"
df = pd.read_csv(url)
# Summary statistics using df.describe()
print("Summary Statistics:")
print(df.describe())
# Value counts for categorical columns
print("\nPclass Value Counts:")
print(df['Pclass'].value_counts())
print("\nSex Value Counts:")
print(df['Sex'].value_counts())
print("\nSurvived Value Counts:")
print(df['Survived'].value_counts())

Summary Statistics:
         Survived      Pclass         Age  Siblings/Spouses Aboard  \
count  887.000000  887.000000  887.000000               887.000000
mean     0.385569    2.305524   29.471443                 0.525366
std      0.487004    0.836662   14.121908                 1.104669
min      0.000000    1.000000    0.420000                 0.000000
25%      0.000000    2.000000   20.250000                 0.000000
50%      0.000000    3.000000   28.000000                 0.000000
75%      1.000000    3.000000   38.000000                 1.000000
max      1.000000    3.000000   80.000000                 8.000000

       Parents/Children Aboard       Fare
count               887.000000  887.00000
mean                  0.383315   32.30542
std                   0.807466   49.78204
min                   0.000000    0.00000
25%                   0.000000    7.92500
50%                   0.000000   14.45420
75%                   0.000000   31.13750
max                   6.000000  512.32920

Pclass Value Counts:
Pclass
3    487
1    216
2    184
Name: count, dtype: int64

Sex Value Counts:
Sex
male      573
female    314
Name: count, dtype: int64

Survived Value Counts:
Survived
0    545
1    342
Name: count, dtype: int64

question number 4 
a) a df.shape function will give you a quick summery of the total number of rows and columns in the form (# of rows, # of columns), however df.describe() will give a more in detail summary which includes: mean, min, max, etc. but it will only include numeric variables
b) the count of observations may be diffent when you code df.shape compared to df.describe() since df.shape will count all rows and columns regardless if any values are missing, however, if values are missing df.describe() will not count columns with missing values

question number 5
a) Attribute: represent stored data or information about the object which is accessed without parentheses and returns a value immediately without running any computation
b) Method: represents a function that performs actions or calculations which is accessed with parentheses and involves execution of code

Chat Gpt pre lecture conversation summary 
- Using df.describe() and df['column'].value_counts()
    - df.describe(): Provides summary statistics for numerical columns, such as count, mean, standard deviation, and percentiles.
    - df['column'].value_counts(): Counts occurrences of unique values in a specified column. Useful for categorical data.
- Issues with Missing Columns
    - You encountered an issue with the Embarked column, which was not present in your dataset.
    - We identified that the dataset contains columns: 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'Siblings/Spouses Aboard', 'Parents/Children Aboard', 'Fare'.
- Handling Missing Columns and Errors
    - We checked column names using df.columns and addressed potential issues with missing columns.
    - Suggested using existing columns (Pclass, Sex, Survived) for analysis.
- Differences Between Attributes and Methods
    - Attribute (e.g., df.shape): A characteristic or property of an object, accessed without parentheses.
    - Method (e.g., df.describe()): A function that performs an action on the object, accessed with parentheses.
- Checking Dataset Information
    - Column Names: Use df.columns to list all columns.
    - Size of Dataset: Use df.shape to get the number of rows and columns.

start of post lecture work 
question number 6 
a) count: the number of observations in the data set
b) mean: the avarage value of a dataset, found by summing the observation and dividing it by the count
c) std: standerd diviation which is the distance between the mean and the 99.7th, 95th and 68th precentile
d) min: the minimum observation, the smallest value in the data set
e) 25%: the 25th precentile or the first quartile which gives the value which 25% of the data points lie 
f) 50%: the 50th precentile, the second quartile or the median which gives the value which 50% of the data points lie 
g) 75%: the 75th precentile or the third quartile which gives the value which 75% of the data points lie 
h) max: the maximum observation, the largest value in the data set

question number 7
1. df.dropna() is perferd over del df['col'] when you want access to only rows without missing values, for instance if you did a survey with optional questions which may not be answerd by all participents
2. del df['col'] is perferd over df.dropan() when you want to eliminate an irrelevent column, for instance if you had a feedback question in your survey which you do not want access to while analyzing data
3. it is important to code del df['col'] before df.dropna() because if you have an irrelevent column which you plan on deleting, said column may have missing values in rows with no other missing values, so if you use df.dropna() before del df['col'] it will remove colums which you want to keep
4. if I had a survey with 4 questions which i want to annalyze and 1 question which does not apply to what I am looking at right now, I would first use del df['col'] to delete the entire column to my 1 question whiich does not apply, then I would use df.dropna() to eleminate any rows with missing values to my 4 questions which I want to annalyz

In [10]:
# question number 8.1(chat gpt example)
import pandas as pd
# Sample Titanic Data
data = {'Pclass': [1, 1, 2, 2, 3, 3, 3],
        'Age': [22, 38, 26, 35, 27, 19, None]}
df = pd.DataFrame(data)
# Group by 'Pclass' and describe 'Age'
result = df.groupby("Pclass")["Age"].describe()
print(result)

        count  mean        std   min    25%   50%    75%   max
Pclass
1         2.0  30.0  11.313708  22.0  26.00  30.0  34.00  38.0
2         2.0  30.5   6.363961  26.0  28.25  30.5  32.75  35.0
3         2.0  23.0   5.656854  19.0  21.00  23.0  25.00  27.0

In [14]:
# question number 8.1(my example)
import pandas as pd
# Sample Titanic Data
data = {'Siblings/Spouses Aboard': [1, 1, 0, 1, 0], 'Pclass': [3, 1, 3, 1, 3]}
df = pd.DataFrame(data)
# Group by 'Pclass' and describe 'Siblings/Spouses Aboard'
result = df.groupby("Pclass")["Siblings/Spouses Aboard"].describe()
print(result)

        count      mean      std  min  25%  50%  75%  max
Pclass
1         2.0  1.000000  0.00000  1.0  1.0  1.0  1.0  1.0
3         3.0  0.333333  0.57735  0.0  0.0  0.0  0.5  1.0

question number 8.2 
The line df.groupby("col1")["col2"].describe(), will first group the like terms in column 1, and then count how many observations in column two belong to each column 1 group, however df.describe() will just count how many observations are in each column.

In [1]:
#question number 8.3.a
url = "https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv"
df = pd.read_csv(url)
df.isna().sum()
# chat gpt was slightly quicker to help me, 
#but the first website google showed helped me too

NameError: name 'pd' is not defined

In [2]:
# question 8.3.b
import pandas as pd
url = "titanics.csv"
df = pd.read_csv(url)
df.isna().sum()
# I would say chat gpt was better because it told me what to input instead, 
#however it gave me a lot of extra information

FileNotFoundError: [Errno 2] No such file or directory: 'titanics.csv'

In [3]:
# question number 8.3.c
import pandas as pd
url = "https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv"
df = pd.read_csv(url)
DF.groupby("col1")["col2"].describe()
# again I would pick chat gpt, simply because it knows exactly what i did,
# google didn't know what mistake I made right away

NameError: name 'DF' is not defined

In [4]:
# question number 8.3.d
import pandas as pd
# Load the dataset
url = "https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv"
df = pd.read_csv(url
# chat gpt told me to chek brackets right away but it did give me a lot of extra information,
# google needed more detail to figure out what i needed

SyntaxError: incomplete input (3350244300.py, line 5)

In [5]:
# question number 8.3.e
import pandas as pd
url = "https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv"
df = pd.read_csv(url)
df.groupby("col1")["col2"].describle()
# chat gpt did not know what mistake i made but it gave me the correct code to input,
# google was not helpful at all

KeyError: 'col1'

In [6]:
# question number 8.3.f
import pandas as pd
# Sample Titanic Data
data = {'Pclass': [1, 1, 2, 2, 3, 3, 3],
        'Age': [22, 38, 26, 35, 27, 19, None]}
df = pd.DataFrame(data)
# Group by 'Pclass' and describe 'Age'
result = df.groupby("pclass")["Age"].describe()
print(result)
# chat gpt gave told me what i mostly likely did wrong and told me how to check column names
# google was not helpful

KeyError: 'pclass'

In [7]:
# question number 8.3.g
import pandas as pd
# Sample Titanic Data
data = {'Pclass': [1, 1, 2, 2, 3, 3, 3],
        'Age': [22, 38, 26, 35, 27, 19, None]}
df = pd.DataFrame(data)
titanic_df.groupby(sex)["age"]
# chat gpt did not know what i got wrong, but it did give me the correct code,
# google was no help

NameError: name 'titanic_df' is not defined

question number 9
somewhat

Chat Gpt post lecture conversation summary 
- You initially asked for definitions of statistical terms (count, mean, std, etc.) and then requested an explanation of the df.groupby("col1")["col2"].describe() function, with an example from the Titanic dataset.
- You encountered several errors while running your code:
    1. NameError: name 'pd' is not defined — This occurred because Pandas wasn't imported. I suggested adding import pandas as pd.
    2. FileNotFoundError — This likely happened when trying to load a non-existent CSV file.
    3. NameError: name 'DF' is not defined — This was due to a case-sensitive typo where DF was used instead of df.
    4. SyntaxError: incomplete input — The code was incomplete; I provided a complete code block.
    5. KeyError: 'col1' — This error occurred because 'col1' wasn't a valid column name. I advised using correct column names like 'Pclass' and 'Age'.
    6. NameError: name 'titanic_df' is not defined — You referenced titanic_df without defining it first. I suggested either loading a dataset or creating a sample DataFrame.